<!DOCTYPE>
<html>


<body>
<h1>All the Trainers!</h1>

    <ul>
    <% Trainer.all.each do |train| %>
        <li>
        <a href="/trainers/<%=train.id%>">
        <%= train.name %>
        </a>
        </li>
    <% end %>
    </ul>
</body>
</html>