<!DOCTYPE html>
<html>
<form action="/trainers" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="catchphrase">Catchphrase</label>
    <input type="text" name="catchphrase">
    <input type="submit" value="Create Trainer">

</form>

</html>