<!DOCTYPE html>
<html>
    <head>
        <title>Trainer Profile Page</title>
    </head>
    <body>
        <h1><%=@trainer.name%></h1>
        <h2><%=@trainer.catchphrase%></h2>
    </body>
</html>

