<!DOCTYPE>
<html>
    <h1>List of Known Pokemon!</h1>
    <ul>
    <% Pokemon.all.each do |poke| %>
        <li>
        <a href="/pokemons/<%=poke.id%>">
        <%= poke.name %>
        </a>
        </li>
    <% end %>
    </ul>
</html>