<!DOCTYPE>
<html>
<h1>Make a Pokemon!</h1>
    <form method="POST" action="/pokemons">
        <label for="name">Pokemon Name: </label>
        <input type="text" name="name"><br>
        <div>
        <label for="poke_type">Pokemon Type: </label>
        <input type="text" name="poke_type">
        <div>
    <input type="submit" value="Make New Pokemon">
    </form>

</html>