<!DOCTYPE>
<html>
    <head>
        <title>Pokedex Entry</title>
    </head>
    <body>
        <h1>Species: <%=@pokemon.name%></h1>
        <h2>Type: <%=@pokemon.poke_type%></h2>
    </body>
</html>