<!DOCTYPE html>
<html>
    <head>
        <title>Pokedex Entry</title>
    </head>
    <body>
        <h1>Species: <%=@pokemon.name%></h1>
        <h2>Type: <%=@pokemon.poke_type%></h2>
    </body>
    <a href="/pokemons/<%=@pokemon.id%>/edit">Make Some Edits Here</a><br>
    <br>
    <div>
    <a href="/pokemons">Go To Pokemon Index</a>
    <a href="/">Go To Home Page</a>
    </div>
    <form action="/pokemons/<%=@pokemon.id%>" method="POST">
    <input type="hidden" value="DELETE" name="_method">
    <p></p>
    <input type="submit" value="You really wanna delete this?????">
    </form>
</html>