<!DOCTYPE>
<html>
    <form method="POST" action="/parties">
    <select name="pick_trainer">
        <% Trainer.all.each do |train| %>
            <option value="<%=train.id%>"> <%= train.name %> </option>
        <% end %> 
</html>