<!DOCTYPE>
<html>
<head>
</head>
<body>
<h1>Welcome to Pokemon!</h1>

<h2>What Would You Like to Do?</h2>

<a href="/trainers/new">Create a new Trainer?</a><br>

<a href="/pokemons/new">Create a new Pokemon?</a>
</body>
</html>